/*
* @Author: Administrator
* @Date:   2016-11-28 10:11:36
* @Last Modified by:   Administrator
* @Last Modified time: 2016-11-28 11:52:52
*/
body{
	/* width: 5.0rem;
	height: 5.0rem */
	
	/* background-color: red; */
}
div{
	width: 2.5rem;
	height: 2.5rem;
	background-color: red;
}